body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34 {
  position:absolute;
  left:0px;
  top:712px;
  width:1200px;
  height:630px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:630px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(247, 86, 86, 1);
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:456px;
}
#u35 {
  position:absolute;
  left:584px;
  top:781px;
  width:432px;
  height:456px;
}
#u36 {
  position:absolute;
  left:2px;
  top:220px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:1342px;
  width:1200px;
  height:630px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:630px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 169, 198, 1);
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:fixed;
  right:0px;
  top:0px;
  width:1200px;
  height:80px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:867px;
  top:18px;
  width:90px;
  height:40px;
}
#u40_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:957px;
  top:18px;
  width:105px;
  height:40px;
}
#u42_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:1062px;
  top:18px;
  width:100px;
  height:40px;
}
#u44_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:fixed;
  left:10px;
  top:6px;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:55px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:55px;
}
#u49 {
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:80px;
  width:1200px;
  height:372px;
  overflow:hidden;
  visibility:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:372px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u51 {
  position:absolute;
  left:233px;
  top:131px;
  width:738px;
  height:125px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:734px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:46px;
}
#u53 {
  position:absolute;
  left:233px;
  top:75px;
  width:738px;
  height:46px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:80px;
  width:1200px;
  height:632px;
  overflow:hidden;
}
#u55_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:632px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(239, 239, 239, 1);
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:1972px;
  width:1200px;
  height:400px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 237, 237, 1);
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u57 {
  position:absolute;
  left:210px;
  top:2154px;
  width:567px;
  height:106px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:563px;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:703px;
  top:2165px;
  width:187px;
  height:45px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:2px;
}
#u62 {
  position:absolute;
  left:210px;
  top:2209px;
  width:483px;
  height:1px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-8px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:49px;
}
#u64 {
  position:absolute;
  left:210px;
  top:2085px;
  width:680px;
  height:49px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#383838;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
#u67 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1200px;
  height:50px;
  overflow:hidden;
}
#u67_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
  text-align:left;
}
#u69 {
  position:absolute;
  left:20px;
  top:18px;
  width:222px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u70 {
  position:absolute;
  left:244px;
  top:0px;
  width:167px;
  height:50px;
  text-decoration:underline;
  color:#383838;
}
#u71 {
  position:absolute;
  left:2px;
  top:18px;
  width:163px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u72 {
  position:absolute;
  left:411px;
  top:0px;
  width:89px;
  height:50px;
  text-decoration:underline;
  color:#383838;
}
#u73 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:right;
}
#u74 {
  position:absolute;
  left:79px;
  top:860px;
  width:445px;
  height:224px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:right;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:right;
}
#u76 {
  position:absolute;
  left:79px;
  top:783px;
  width:445px;
  height:46px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:right;
}
#u77 {
  position:absolute;
  left:2px;
  top:-2px;
  width:441px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:18px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:576px;
  top:878px;
  width:484px;
  height:18px;
}
#u79 {
  position:absolute;
  left:2px;
  top:1px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-style:normal;
  font-size:22px;
  text-align:left;
  line-height:28px;
}
#u80 {
  position:absolute;
  left:584px;
  top:214px;
  width:513px;
  height:72px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-style:normal;
  font-size:22px;
  text-align:left;
  line-height:28px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:509px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:584px;
  top:296px;
  width:247px;
  height:45px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:43px;
}
#u84 {
  position:absolute;
  left:584px;
  top:136px;
  width:513px;
  height:43px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:487px;
}
#u86 {
  position:absolute;
  left:51px;
  top:134px;
  width:473px;
  height:487px;
}
#u87 {
  position:absolute;
  left:2px;
  top:236px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:237px;
}
#u88 {
  position:absolute;
  left:387px;
  top:305px;
  width:197px;
  height:237px;
}
#u89 {
  position:absolute;
  left:2px;
  top:110px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:18px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:576px;
  top:993px;
  width:484px;
  height:18px;
}
#u91 {
  position:absolute;
  left:2px;
  top:1px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:18px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:576px;
  top:1109px;
  width:484px;
  height:18px;
}
#u93 {
  position:absolute;
  left:2px;
  top:1px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:18px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:576px;
  top:1226px;
  width:484px;
  height:18px;
}
#u95 {
  position:absolute;
  left:2px;
  top:1px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u96 {
  position:absolute;
  left:576px;
  top:1495px;
  width:486px;
  height:170px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:482px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:49px;
}
#u98 {
  position:absolute;
  left:576px;
  top:1420px;
  width:486px;
  height:49px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:495px;
}
#u100 {
  position:absolute;
  left:51px;
  top:1420px;
  width:473px;
  height:495px;
}
#u101 {
  position:absolute;
  left:2px;
  top:240px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u34.a {
  position:absolute;
  left:0px;
  top:712px;
  width:1024px;
  height:630px;
}
#u34_state0.a {
  width:1024px;
  background-color:rgba(247, 86, 86, 1);
  background-image:none;
}
#u35.a {
  left:525px;
  top:824px;
  width:380px;
  height:401px;
}
#u35_img.a {
  width:380px;
  height:401px;
}
#u36.a {
  top:192px;
  width:376px;
}
#u37.a {
  position:absolute;
  left:0px;
  top:1342px;
  width:1024px;
  height:630px;
}
#u37_state0.a {
  width:1024px;
  background-color:rgba(0, 169, 198, 1);
  background-image:none;
}
#u38.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
}
#u39.a {
  position:fixed;
  right:0px;
  top:0px;
  width:1024px;
  height:80px;
  overflow:hidden;
}
#u40.a {
  left:697px;
}
#u40_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40_div.selected.a {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.a.selected {
}
#u41.a {
}
#u42.a {
  left:787px;
}
#u42_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42_div.selected.a {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.a.selected {
}
#u43.a {
}
#u44.a {
  left:892px;
}
#u44_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44_div.selected.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44.a.selected {
}
#u45.a {
}
#u39_state0.a {
  width:1024px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u46.a {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:61px;
}
#u47.a {
  position:fixed;
  left:10px;
  top:6px;
  width:250px;
  height:55px;
}
#u48.a {
}
#u48_img.a {
}
#u49.a {
}
#u47_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u50.a {
  position:absolute;
  left:0px;
  top:80px;
  width:1024px;
  height:372px;
}
#u51.a {
  left:145px;
}
#u51_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u52.a {
}
#u53.a {
  left:145px;
  height:41px;
}
#u53_img.a {
  height:41px;
}
#u54.a {
}
#u50_state0.a {
  width:1024px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u55.a {
  position:absolute;
  left:0px;
  top:80px;
  width:1024px;
  height:632px;
}
#u55_state0.a {
  width:1024px;
  background-color:rgba(239, 239, 239, 1);
  background-image:none;
}
#u56.a {
  position:absolute;
  left:0px;
  top:1972px;
  width:1024px;
  height:310px;
}
#u56_state0.a {
  width:1024px;
  height:310px;
  background-color:rgba(237, 237, 237, 1);
  background-image:none;
}
#u57.a {
  left:134px;
  top:2098px;
}
#u57_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u58.a {
}
#u60.a {
  left:559px;
  top:1506px;
}
#u60_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61.a {
}
#u62.a {
  left:66px;
  top:1550px;
}
#u62_img.a {
}
#u63.a {
}
#u64.a {
  left:134px;
  top:2050px;
  height:41px;
}
#u64_img.a {
  height:41px;
}
#u65.a {
}
#u66.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:681px;
}
#u67.a {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1024px;
  height:50px;
  overflow:hidden;
}
#u68.a {
}
#u68_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u69.a {
}
#u70.a {
}
#u70_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u71.a {
}
#u72.a {
}
#u72_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u73.a {
}
#u67_state0.a {
  width:1024px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u74.a {
  left:57px;
  top:883px;
  width:406px;
}
#u74_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:right;
}
#u75.a {
  width:402px;
}
#u76.a {
  left:57px;
  top:824px;
  width:406px;
  height:45px;
}
#u76_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:right;
}
#u77.a {
  top:2px;
  width:402px;
}
#u78.a {
  left:525px;
  top:909px;
  width:380px;
  height:15px;
}
#u78_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:15px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.a {
  top:0px;
  width:376px;
}
#u80.a {
  left:525px;
  top:219px;
  width:391px;
  height:67px;
}
#u80_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-style:normal;
  font-size:22px;
  text-align:left;
  line-height:28px;
}
#u81.a {
  width:387px;
}
#u82.a {
  left:525px;
  top:302px;
}
#u82_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u83.a {
}
#u84.a {
  left:525px;
  top:160px;
  width:391px;
  height:41px;
}
#u84_img.a {
  width:391px;
  height:41px;
}
#u85.a {
  width:391px;
}
#u86.a {
  top:160px;
  width:412px;
  height:424px;
}
#u86_img.a {
  width:412px;
  height:424px;
}
#u87.a {
  top:204px;
  width:408px;
}
#u88.a {
  left:318px;
  top:278px;
}
#u88_img.a {
}
#u89.a {
}
#u90.a {
  left:525px;
  top:1011px;
  width:380px;
  height:15px;
}
#u90_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:15px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91.a {
  top:0px;
  width:376px;
}
#u92.a {
  left:525px;
  top:1113px;
  width:380px;
  height:15px;
}
#u92_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:15px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.a {
  top:0px;
  width:376px;
}
#u94.a {
  left:525px;
  top:1215px;
  width:380px;
  height:15px;
}
#u94_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:15px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95.a {
  top:0px;
  width:376px;
}
#u96.a {
  left:525px;
  top:1507px;
  width:390px;
}
#u96_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u97.a {
  width:386px;
}
#u98.a {
  left:525px;
  top:1445px;
  width:390px;
  height:41px;
}
#u98_img.a {
  width:390px;
  height:41px;
}
#u99.a {
  width:390px;
}
#u100.a {
  left:57px;
  top:1445px;
  width:406px;
  height:425px;
}
#u100_img.a {
  width:406px;
  height:425px;
}
#u101.a {
  top:204px;
  width:402px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u34.b {
  position:absolute;
  left:0px;
  top:618px;
  width:415px;
  height:600px;
}
#u34_state0.b {
  width:415px;
  height:600px;
  background-color:rgba(247, 86, 86, 1);
  background-image:none;
}
#u35.b {
  left:69px;
  top:880px;
  width:278px;
  height:293px;
}
#u35_img.b {
  width:278px;
  height:293px;
}
#u36.b {
  top:138px;
  width:274px;
}
#u37.b {
  position:absolute;
  left:0px;
  top:1218px;
  width:415px;
  height:600px;
}
#u37_state0.b {
  width:415px;
  height:600px;
  background-color:rgba(0, 169, 198, 1);
  background-image:none;
}
#u38.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:100px;
}
#u39.b {
  position:fixed;
  right:0px;
  top:0px;
  width:414px;
  height:100px;
  overflow:hidden;
}
#u40.b {
  left:112px;
  top:53px;
}
#u40_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40_div.selected.b {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.b.selected {
}
#u41.b {
}
#u42.b {
  left:202px;
  top:53px;
}
#u42_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42_div.selected.b {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.b.selected {
}
#u43.b {
}
#u44.b {
  left:307px;
  top:53px;
}
#u44_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44_div.selected.b {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44.b.selected {
}
#u45.b {
}
#u39_state0.b {
  width:414px;
  height:100px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u46.b {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:51px;
}
#u47.b {
  position:fixed;
  left:10px;
  top:6px;
  width:205px;
  height:45px;
}
#u48.b {
  width:205px;
  height:45px;
}
#u48_img.b {
  width:205px;
  height:45px;
}
#u49.b {
  top:14px;
  width:201px;
}
#u47_state0.b {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u50.b {
  position:absolute;
  left:0px;
  top:80px;
  width:415px;
  height:372px;
}
#u51.b {
  left:145px;
}
#u51_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u52.b {
}
#u53.b {
  left:145px;
  height:41px;
}
#u53_img.b {
  height:41px;
}
#u54.b {
}
#u50_state0.b {
  width:415px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u55.b {
  position:absolute;
  left:0px;
  top:98px;
  width:415px;
  height:520px;
}
#u55_state0.b {
  width:415px;
  height:520px;
  background-color:rgba(239, 239, 239, 1);
  background-image:none;
}
#u56.b {
  position:absolute;
  left:0px;
  top:1818px;
  width:415px;
  height:300px;
}
#u56_state0.b {
  width:415px;
  height:300px;
  background-color:rgba(237, 237, 237, 1);
  background-image:none;
}
#u57.b {
  left:28px;
  top:1965px;
  width:360px;
  height:89px;
}
#u57_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u58.b {
  width:356px;
}
#u60.b {
  left:15px;
  top:2034px;
}
#u60_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61.b {
}
#u62.b {
  left:18px;
  top:2014px;
  width:385px;
}
#u62_img.b {
  width:386px;
}
#u63.b {
  width:381px;
}
#u64.b {
  left:91px;
  top:1891px;
  width:233px;
  height:54px;
}
#u64_img.b {
  width:233px;
  height:54px;
}
#u65.b {
  width:233px;
}
#u66.b {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:681px;
}
#u67.b {
  position:fixed;
  left:0px;
  bottom:0px;
  width:415px;
  height:50px;
  overflow:hidden;
}
#u68.b {
}
#u68_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u69.b {
  left:5px;
  width:237px;
}
#u70.b {
  left:159px;
}
#u70_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u71.b {
}
#u72.b {
  left:326px;
}
#u72_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u73.b {
}
#u67_state0.b {
  width:415px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u74.b {
  left:28px;
  top:766px;
  width:360px;
  height:104px;
}
#u74_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:right;
}
#u75.b {
  width:356px;
}
#u76.b {
  left:28px;
  top:707px;
  width:360px;
  height:45px;
}
#u76_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:right;
}
#u77.b {
  top:9px;
  width:356px;
}
#u78.b {
  left:69px;
  top:942px;
  width:278px;
  height:11px;
}
#u78_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.b {
  top:-2px;
  width:274px;
}
#u80.b {
  left:28px;
  top:181px;
  width:360px;
  height:63px;
}
#u80_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-style:normal;
  font-size:22px;
  text-align:left;
  line-height:28px;
}
#u81.b {
  left:10px;
  width:340px;
}
#u82.b {
  left:103px;
  top:236px;
  width:210px;
  height:35px;
}
#u82_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u83.b {
  top:6px;
  width:206px;
}
#u84.b {
  left:28px;
  top:138px;
  width:360px;
  height:33px;
}
#u84_img.b {
  width:360px;
  height:33px;
}
#u85.b {
  width:360px;
}
#u86.b {
  left:28px;
  top:300px;
  width:285px;
  height:294px;
}
#u86_img.b {
  width:285px;
  height:294px;
}
#u87.b {
  top:139px;
  width:281px;
}
#u88.b {
  left:214px;
  top:408px;
  width:174px;
  height:210px;
}
#u88_img.b {
  width:174px;
  height:210px;
}
#u89.b {
  top:97px;
  width:170px;
}
#u90.b {
  left:69px;
  top:1016px;
  width:278px;
  height:11px;
}
#u90_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91.b {
  top:-2px;
  width:274px;
}
#u92.b {
  left:69px;
  top:1090px;
  width:278px;
  height:11px;
}
#u92_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.b {
  top:-2px;
  width:274px;
}
#u94.b {
  left:69px;
  top:1165px;
  width:278px;
  height:11px;
}
#u94_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95.b {
  top:-2px;
  width:274px;
}
#u96.b {
  left:28px;
  top:1294px;
  width:360px;
  height:104px;
}
#u96_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u97.b {
  width:356px;
}
#u98.b {
  left:28px;
  top:1252px;
  width:360px;
  height:27px;
}
#u98_img.b {
  width:360px;
  height:27px;
}
#u99.b {
  width:360px;
}
#u100.b {
  left:37px;
  top:1434px;
  width:342px;
  height:358px;
}
#u100_img.b {
  width:342px;
  height:358px;
}
#u101.b {
  top:171px;
  width:338px;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u34.c {
  position:absolute;
  left:0px;
  top:600px;
  width:320px;
  height:550px;
}
#u34_state0.c {
  width:320px;
  height:550px;
  background-color:rgba(247, 86, 86, 1);
  background-image:none;
}
#u35.c {
  left:21px;
  top:823px;
  width:278px;
  height:293px;
}
#u35_img.c {
  width:278px;
  height:293px;
}
#u36.c {
  top:138px;
  width:274px;
}
#u37.c {
  position:absolute;
  left:0px;
  top:1150px;
  width:320px;
  height:550px;
}
#u37_state0.c {
  width:320px;
  height:550px;
  background-color:rgba(0, 169, 198, 1);
  background-image:none;
}
#u38.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u39.c {
  position:fixed;
  right:0px;
  top:0px;
  width:320px;
  height:100px;
  overflow:hidden;
}
#u40.c {
  left:12px;
  top:55px;
}
#u40_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40_div.selected.c {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.c.selected {
}
#u41.c {
}
#u42.c {
  left:102px;
  top:55px;
}
#u42_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42_div.selected.c {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.c.selected {
}
#u43.c {
}
#u44.c {
  left:207px;
  top:55px;
}
#u44_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44_div.selected.c {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44.c.selected {
}
#u45.c {
}
#u39_state0.c {
  width:320px;
  height:100px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u46.c {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:51px;
}
#u47.c {
  position:fixed;
  left:5px;
  top:6px;
  width:212px;
  height:45px;
}
#u48.c {
  left:7px;
  width:205px;
  height:45px;
}
#u48_img.c {
  width:205px;
  height:45px;
}
#u49.c {
  top:14px;
  width:201px;
}
#u47_state0.c {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u50.c {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:194px;
}
#u51.c {
  left:0px;
  top:83px;
  width:320px;
  height:108px;
}
#u51_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u52.c {
  left:10px;
  width:300px;
}
#u53.c {
  left:0px;
  top:43px;
  width:320px;
  height:24px;
}
#u53_img.c {
  width:320px;
  height:24px;
}
#u54.c {
  left:10px;
  width:300px;
}
#u50_state0.c {
  width:320px;
  height:194px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u55.c {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:500px;
}
#u55_state0.c {
  width:320px;
  height:500px;
  background-color:rgba(239, 239, 239, 1);
  background-image:none;
}
#u56.c {
  position:absolute;
  left:0px;
  top:1700px;
  width:320px;
  height:275px;
}
#u56_state0.c {
  width:320px;
  height:275px;
  background-color:rgba(237, 237, 237, 1);
  background-image:none;
}
#u57.c {
  left:20px;
  top:1817px;
  width:280px;
  height:98px;
}
#u57_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u58.c {
  left:20px;
  top:5px;
  width:240px;
}
#u60.c {
  left:29px;
  top:1882px;
}
#u60_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61.c {
}
#u62.c {
  left:0px;
  top:1878px;
  width:226px;
}
#u62_img.c {
  width:227px;
}
#u63.c {
  width:222px;
}
#u64.c {
  left:52px;
  top:1761px;
  width:216px;
  height:48px;
}
#u64_img.c {
  width:216px;
  height:48px;
}
#u65.c {
  left:20px;
  width:176px;
}
#u66.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:660px;
}
#u67.c {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:30px;
  overflow:hidden;
}
#u68.c {
  width:145px;
  height:29px;
}
#u68_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u69.c {
  left:5px;
  top:8px;
  width:138px;
}
#u70.c {
  left:145px;
  width:106px;
  height:29px;
}
#u70_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u71.c {
  top:8px;
  width:102px;
}
#u72.c {
  left:251px;
  width:69px;
  height:29px;
}
#u72_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#383838;
}
#u73.c {
  top:8px;
  width:65px;
}
#u67_state0.c {
  width:320px;
  height:30px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u74.c {
  left:0px;
  top:694px;
  width:320px;
  height:98px;
}
#u74_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:right;
}
#u75.c {
  left:20px;
  top:1px;
  width:280px;
}
#u76.c {
  left:0px;
  top:630px;
  width:320px;
  height:50px;
}
#u76_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:right;
}
#u77.c {
  top:12px;
  width:316px;
}
#u78.c {
  left:20px;
  top:884px;
  width:280px;
  height:11px;
}
#u78_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.c {
  top:-2px;
  width:276px;
}
#u80.c {
  left:0px;
  top:180px;
  width:320px;
  height:63px;
}
#u80_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-style:normal;
  font-size:22px;
  text-align:left;
  line-height:28px;
}
#u81.c {
  left:20px;
  width:280px;
}
#u82.c {
  left:60px;
  top:259px;
  width:201px;
  height:35px;
}
#u82_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u83.c {
  top:8px;
  width:197px;
}
#u84.c {
  left:0px;
  top:142px;
  width:320px;
  height:27px;
}
#u84_img.c {
  width:320px;
  height:27px;
}
#u85.c {
  width:320px;
}
#u86.c {
  left:5px;
  top:322px;
  width:256px;
  height:263px;
}
#u86_img.c {
  width:256px;
  height:263px;
}
#u87.c {
  top:124px;
  width:252px;
}
#u88.c {
  left:151px;
  top:421px;
  width:149px;
  height:179px;
}
#u88_img.c {
  width:149px;
  height:179px;
}
#u89.c {
  top:82px;
  width:145px;
}
#u90.c {
  left:20px;
  top:959px;
  width:280px;
  height:11px;
}
#u90_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91.c {
  top:-2px;
  width:276px;
}
#u92.c {
  left:20px;
  top:1034px;
  width:280px;
  height:11px;
}
#u92_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.c {
  top:-2px;
  width:276px;
}
#u94.c {
  left:20px;
  top:1110px;
  width:280px;
  height:11px;
}
#u94_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:11px;
  background:inherit;
  background-color:rgba(247, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95.c {
  top:-2px;
  width:276px;
}
#u96.c {
  left:0px;
  top:1232px;
  width:320px;
  height:132px;
}
#u96_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u97.c {
  left:20px;
  width:280px;
}
#u98.c {
  left:0px;
  top:1175px;
  width:320px;
  height:50px;
}
#u98_img.c {
  width:320px;
  height:50px;
}
#u99.c {
  top:12px;
  width:320px;
}
#u100.c {
  left:0px;
  top:1364px;
  width:295px;
  height:309px;
}
#u100_img.c {
  width:295px;
  height:309px;
}
#u101.c {
  top:146px;
  width:291px;
}
